*{
    
    margin: 0;
    padding: 0;
   font-family: 'Open Sans', sans-serif;


}

.navbar{
    background-color: orangered;
}

.navbar img{
    width: auto;
    height: 60px;
}


.carousel  img {
height: 500px;
}


.contac-float img {
    width: 100px;
    height: 70px;
    position: fixed;
    z-index: 1000;
    margin: 30px;
}



.imagen-empresa {
    width: 100%;
    height: 400px;
    background-image: url(https://scontent.fbog15-1.fna.fbcdn.net/v/t1.6435-9/125225422_696529341269583_730577646329627088_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeGp5Mvv76Pxnurwy6WvS-nYJi5ZI5hVGbkmLlkjmFUZucUKshp5etHSOEjA2fNxsadr-F700IVSaeZ02c3lEPks&_nc_ohc=L-oI_AC9CPAAX94kOSj&_nc_ht=scontent.fbog15-1.fna&oh=00_AT8nYiCsAr6-_77zqMaYUMK1szvHduGlJJMr6au27zI_sQ&oe=62E3F0B6);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    

}

.ham1{
    width: 450px;
    height: 300px;
}





.gallery {
    margin-top: 60px;
 
}

.todo-lista h3 {
    padding: 5px  10px 10px 10px;
    background-color: orangered;
    font-size: 20px ;
    border-radius: 30px;
    width: 40px;

}

.caja1{
    width: 100% ;
    height: 200px;
    background-color: aqua;
}
.caja2{
    width: 100% ;
    height: 200px;
    background-color: black;
}


.contac{
    background-color: aqua;
    height: 300px;
}

.contac2{
    background-image: url(../images/was.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  
}



.contac{
    background-image: url(../images/was.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  
}


.pie-pagina{
    z-index: 15000;
    width: 100%;
    background-color: #0a141d;

}

.pie-pagina .grupo1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px 0px;



}


.pie-pagina .grupo1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pie-pagina .grupo1 .box figure img{
    width: 150px;

}


.pie-pagina .grupo1 .box h2{
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;

}

.pie-pagina .grupo1 .box{
    color: #efeefe;
    margin-bottom: 20px;
}

.pie-pagina .grupo1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transform: all 300ms ease  ;


}

.pie-pagina .grupo1 .red-social a:hover{
    color: aqua;
}


.pie-pagina .grupo2{
    background-color:#0a1a2a ;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}


.pie-pagina .grupo2 small{
    font-size: 15px;
}


@media screen and (max-width:800px) {
    .pie-pagina .grupo1 {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    
    
    
    }
}




